.blogs-page {
    background-color: #e67e22;
    font-family: "Shrikhand", serif;
    padding-bottom: 20px;
}

.blogs-page .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 150px;
    text-align: center;
}

.blogs-page .title {
    text-align: center;
    font-size: 60px;
    color: #2d4c74;
    padding: 20px 0 0 0;
}

.blogs-page .blog-preview {
    width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.blogs-page .blog-preview:hover {
    transform: translateY(-5px);
}

.blogs-page .blog-link {
    text-decoration: none;
    color: inherit;
}

.blogs-page .blog-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.blogs-page .blog-info {
    padding: 20px;
}

.blogs-page h3 {
    margin: 0;
}

.blogs-page .blog-info div {
    margin-bottom: 5px;
}

.blogs-page .blog-info p {
    margin-top: 5px;
    color: #888;
}

@media screen and (max-width: 700px) {
    .blogs-page .container {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .blogs-page .blog-preview {
        width: 100%; /* Adjust width for responsiveness */
    }
}
