.blog-post {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
/* .blog-container {
    display: flex;
} */

.container h1 {
    font-family: "Shrikhand", serif;
   text-align: center;
   font-size: 40px;
   margin: 20px 0 0 0;
}

.date {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
  
}
.weeks {
    font-family: "Shrikhand", serif;
    font-size: 25px;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit; 
   
}

.date-posted {
    font-size: 12px;
    text-align: center;
}