

.latest-blog .date {
    
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color:white;
    font-size: 23px;
   
}

.latest-blog h3 {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    color: #2e4c74;
}
.latest-blog h4 {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    color: white;
    margin: 10px 0 0 0;
}

.latest-blog-button {
    background-color: #F39155;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0px 10px;
}


.latest-blog-button:hover {
    background-color: #e67e22;
}

.latest-blog-img {
    max-width: 270px;
    border-radius: 4px;
}

.latest-blog {
    
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 50px; 
        justify-content: space-evenly;
      
}

@media screen and (max-width: 700px) {
  

   
  }