.map-title {
    font-family: "Shrikhand", serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: #006642;
}

.map-container {
    background-color: #effded;
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
}



