.navbar {
   
    color: #D0417E;
}

.home {
    font-family: "Shrikhand", serif;
}

.nav-list {
    font-family: "Aleo", serif;
}

.navbar-nav .nav-link.active {
    color: #F39155 !important;
}


.nav-link:hover {
     color: #F39155 !important;
}